<div class="row">
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 ">
		<form (ngSubmit)="onSubmit()" #f="ngForm">
			<div class="bloc-espacement">
				<input 
				type="text" 
				name="montant" 
				placeholder="Montant à envoyer" 
				class="form-control"
				ngModel
            	required
				>
			</div>
			<div class="bloc-espacement">
				<input type="submit" name="" class="btn btn-primary btn-primary btn-full" value="Envoyer">
			</div>	
		</form>	

		<button class="btn btn-primary" (click)="onSave()">Enregistrer</button>	
	</div>
</div>