
<div class="row">
	<!--<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bloc-espacement">
		Votre Beki est {{ user.beki}}
	</div>-->
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bloc-espacement">
		<button class="btn btn-primary btn-success btn-full" routerLink = "/recevoir-beki" >Recevoir Beki</button>
	</div>
	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bloc-espacement">
		<button class="btn btn-primary btn-primary btn-full" routerLink = "/envoyer-beki">Envoyer Beki</button>
	</div>
</div>
<router-outlet></router-outlet>

